.selectize-control {
  width: 100%,
  display: inline-block,
  vertical-align: top,
  margin-top: 2px
}

.selectize-input {
  padding: 4.5px;
  border-radius': 0;
}

.selectize-input .dashicons-image-rotate {
  float: right;
  margin-right: 25px;
  opacity: 0;
}

.selectize-control.loading .selectize-input .dashicons-image-rotate {
  opacity: 0.8;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
